<div class="center" *ngIf="gameLogicService.gameHasInit==true">

  <div>
    <h5 class="inline">
      {{gameLogicService.wordNTrans.word}}
    </h5>
    <label class="inline" style="width:0px;"></label>
    <button class="btn btn-primary inline" style="padding:0px; margin:0px; height:20px; width:20px;"
    (click)="nextWord()">
      >
    </button>
  </div>


  <h4>
    {{parsedText}}
    <br *ngIf="parsedText==''||' '">
  </h4>

  <input class="center" type="text" (input)="textChanged()" [(ngModel)]="typedText" placeholder="type here">

</div>
