<div> <!-- *ngIf="!fileIsUploaded" -->
  <div>
    <h5 class="inline">
      Upload your vocabulary lists
    </h5>
    <h6 class="inline" style="color:gray;">
      (.xlsx)
    </h6>
  </div>
  <!-- FILES DISPLAYED -->
  <div>
    <ul *ngFor="let vocFile of vocFileList">
      <li>
        <div class="inline">
          {{vocFile.name}}
        </div>
        <button class="inline" (click)="removeFile(vocFile)">
          X
        </button>
      </li>
    </ul>
  </div>
  <!-- FILE INPUT BAR -->
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".xlsx" multiple/>
</div>
