<div> <!-- *ngIf="!fileIsUploaded" -->
  <div>
    <h5 class="inline">
      Upload your vocabulary lists
    </h5>
    <h6 class="inline" style="color:gray;">
      (.xlsx)
    </h6>
  </div>
  <!-- FILES DISPLAYED -->
  <div>
    <ul style="margin:0px; padding-left:10px;" *ngFor="let vocFile of vocFileList">
      <div>
        <label><input type="checkbox" checked
          (click)="switchFileState(vocFile)"/>
          {{vocFile.name}}
        </label>
        <button class="btn btn-danger inline"
        style="width:20px; height:20px; margin:0px; padding:0px;" (click)="removeFile(vocFile)">
          X
        </button>
      </div>
    </ul>
  </div>
  <!-- FILE INPUT BAR -->
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".xlsx" multiple/>
</div>
